name: Android Release
on:
  push:
    branches: ["main"]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "stable"
      - run: flutter pub get
      # build AAB (Play Store needs .aab)
      - run: flutter build appbundle --release
      # upload to Play Store using Fastlane
      - name: Release to Play Store
        run: bundle exec fastlane android release
        env:
          GOOGLE_PLAY_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_JSON }}
